/* Header */
header {
  display: flex;
  background-color: #822;
  justify-content: space-between; }
  header .navbar navbar-expand-lg navbar-light {
    display: flex;
    background-color: #822;
    padding: 10px;
    justify-content: flex-end; }
  header .navbar-light-active-color {
    font-family: "Amatic SC", cursive;
    color: white; }
  header .nav-link {
    display: flex;
    justify-content: flex-end;
    color: white;
    font-family: "Amatic SC", cursive;
    font-size: 1.5rem; }
    header .nav-link:hover {
      transform: scale(1.2);
      color: white; }
  header .navbar-light .navbar-nav .nav-link.active {
    color: white; }
  header .div__header {
    align-items: center;
    margin-left: 15px;
    color: white;
    font-family: "Amatic SC", cursive;
    font-size: 3rem; }
    header .div__header p {
      margin: 0px; }
  header .container-fluid {
    display: flex;
    justify-content: space-between;
    color: white; }
  header a {
    text-decoration: none;
    color: white;
    font-weight: 500; }
    header a :hover {
      color: white; }
  header li {
    list-style: none; }

.footer__general {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #D1BA8E;
  background-position: bottom;
  bottom: 0px;
  width: 100%;
  height: 75px;
  text-align: center;
  padding-top: 15px;
  height: 90px; }
  .footer__general redes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }

.footer__suscribete {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #D1BA8E;
  color: #483b24;
  background-position: bottom;
  bottom: 0px;
  width: 100%;
  height: 75px;
  text-align: center;
  padding-top: 15px;
  height: 90px; }
  .footer__suscribete redes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }

.icono:hover {
  transform: scale(1.3); }

/* Body */
* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: #e7d4ad; }

/* Index */
.index__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  font-display: block; }
  .index__main img {
    width: 85%; }

.index__red:first-child {
  display: flex;
  justify-content: center;
  grid-column: 1/2; }

.index__contenido:nth-child(2) {
  grid-column: 2/3;
  text-align: center;
  margin: 20px; }
  .index__contenido:nth-child(2) .index__iconos {
    display: flex;
    flex-direction: row;
    justify-content: center; }

.index__video:nth-child(3) {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px; }

.index__imagen:nth-child(4) {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding-bottom: 40px;
  align-items: center; }
  .index__imagen:nth-child(4) a {
    display: flex;
    justify-content: center; }
  .index__imagen:nth-child(4) img {
    width: 80%; }
    .index__imagen:nth-child(4) img:hover {
      transform: scale(1.1); }

.index__titulo:nth-child(5) {
  grid-column: 1/3;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  width: 100%; }

/* biografia */
.biografia__main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  font-display: block;
  margin: 40px; }
  .biografia__main p {
    text-align: justify;
    margin: 10px; }
  .biografia__main img {
    width: 90%;
    margin: 20px; }

.biografia__titulo:first-child {
  grid-column: 1/4; }

.biografia__texto:nth-child(2) {
  grid-column: 1/3; }

.biografia__imagen1:nth-child(3) {
  grid-column: 3/4;
  margin-left: 20px; }

.biografia__imagen2:nth-child(4) {
  grid-column: 1/2;
  width: 95%;
  margin-right: 20px; }

.biografia__texto2:nth-child(5) {
  grid-column: 2/4;
  margin: 0px; }

.biografia__texto3:nth-child(6) {
  grid-column: 1/3;
  justify-content: flex-start; }

.biografia__imagen3:nth-child(7) {
  grid-column: 3/4;
  width: 95%;
  margin-left: 20px; }

/* Discografia */
.discografia__main {
  display: grid;
  margin-left: 5%;
  margin-bottom: 10px;
  margin-top: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: justify;
  align-items: center;
  gap: 20px;
  font-display: block;
  width: 90%; }
  .discografia__main .discografia__titulos {
    display: flex;
    justify-content: center; }

.discografia__introduccion:first-child {
  grid-column: 1/4; }

.discografia__portada a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px; }
  .discografia__portada a img {
    width: 55%; }
    .discografia__portada a img:hover {
      transform: scale(1.3); }

.discografia__albumes {
  display: flex;
  justify-content: center;
  align-items: center; }

/* Galeria */
.galeria__main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat 4, 1fr;
  margin: 4%;
  gap: 6px;
  font-display: block; }

.galeria__contenido {
  width: 648px;
  height: 648px; }
  .galeria__contenido:hover {
    transform: scale(1.2); }

/* Suscribete */
.suscribete__body {
  background-image: url(../recursos/Portadas/TaylorSuscribete3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .suscribete__body main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    margin-top: 35px;
    margin-bottom: 100px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 20px;
    font-display: block; }
    .suscribete__body main .suscribete__div {
      width: 40%;
      background-color: rgba(0, 0, 0, 0.4);
      padding: 20px;
      border-radius: 20px; }
    .suscribete__body main label {
      margin-bottom: 10px; }

.suscribete__botones {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  margin-left: 15px; }
  .suscribete__botones .botones {
    border-color: #822;
    background-color: #822;
    color: white;
    padding: 7px;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 10px; }
    .suscribete__botones .botones:hover {
      transform: scale(1.3);
      background-color: #483b24;
      border-color: #483b24; }

/* MEDIA QUERIES */
/* Celular */
@media (min-width: 320px) and (max-width: 540px) {
  /* Header */
  header {
    flex-direction: row; }
    header ul {
      align-items: flex-end; }
  /* Index */
  .index__main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; }
    .index__main div img {
      align-items: center; }
  .index__contenido {
    padding: 10px; }
  /* Discografia */
  .discografia__main {
    display: flex;
    flex-wrap: wrap; }
    .discografia__main .discografia__portada .discografia__portadas:hover {
      transform: scale(1); }
  /* Galeria */
  .galeria__main {
    display: flex;
    flex-wrap: wrap; }
    .galeria__main .galeria__contenido:hover {
      transform: scale(1); }
  /* biografia */
  .biografia__main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px; }
    .biografia__main img {
      width: 90%;
      margin: 10px;
      padding-bottom: 20px; }
    .biografia__main .biografia__imagen2 {
      display: flex;
      display: none; }
  /* Suscribete */
  .suscribete__body {
    background-image: url(../recursos/Portadas/TaylorSuscribete4.jpg);
    background-size: cover; }
    .suscribete__body main {
      display: flex;
      font-size: small;
      align-items: center;
      text-align: center;
      color: #483b24;
      margin-left: 0px; }
      .suscribete__body main .suscribete__div {
        margin-top: 30px;
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        width: 90%;
        justify-content: center; }
  .suscribete__botones {
    justify-content: center; } }

/* Tablet */
@media (min-width: 541px) and (max-width: 720px) {
  /* Header */
  header {
    flex-direction: row; }
    header ul {
      align-items: flex-end; }
  /* Index */
  .index__main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; }
  .index__contenido {
    padding: 30px; }
  /* Discografia */
  .discografia__main {
    display: flex;
    flex-wrap: wrap; }
    .discografia__main .discografia__portada .discografia__portadas:hover {
      transform: scale(1); }
  .discografia__portadas {
    width: 45%; }
  /* Galeria */
  .galeria__main {
    display: flex;
    flex-wrap: wrap; }
    .galeria__main .galeria__contenido:hover {
      transform: scale(1); }
  /* biografia */
  .biografia__main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 40px; }
    .biografia__main .biografia__imagen2 {
      display: flex;
      display: none; }
  /* Suscribete */
  .suscribete__body {
    background-image: url(../recursos/Portadas/TaylorSuscribete2.jpg);
    background-size: cover; }
    .suscribete__body main {
      font-size: small;
      align-items: center;
      text-align: center;
      align-content: flex-end;
      color: white; }
      .suscribete__body main .suscribete__div {
        width: 55%;
        padding: 20px;
        border-radius: 20px;
        justify-content: center; }
  .suscribete__botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; } }

@media (min-width: 721px) and (max-width: 991px) {
  .index__main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  .biografia__main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 40px; }
    .biografia__main .biografia__imagen2 {
      display: flex;
      display: none; }
  .discografia__main {
    grid-template-columns: 1fr 1fr; }
    .discografia__main .discografia__portada .discografia__portadas:hover {
      transform: scale(1); }
  .discografia__introduccion:first-child {
    grid-column: 1/3; }
  .galeria__main .galeria__contenido:hover {
    transform: scale(1); }
  .suscribete__body {
    background-image: url(../recursos/Portadas/TaylorSuscribete.jpg);
    background-size: cover; }
  .suscribete__main {
    font-size: small;
    align-items: flex-start;
    text-align: center;
    margin-left: 0px; }
    .suscribete__main .suscribete__div {
      color: white;
      padding: 20px;
      border-radius: 20px;
      justify-content: center; }
  .suscribete__botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-color: #822;
    color: white; } }

/* MAPA */
/* EACH */
h1 {
  font-size: 4.5rem;
  color: #822;
  font-family: "Amatic SC", cursive; }

h2 {
  font-size: 3rem;
  color: #822;
  font-family: "Amatic SC", cursive; }

/* MIXIN */
.body__general {
  font-family: "Nuosu SIL", serif;
  font-size: 1rem;
  color: #483b24; }

.suscribete__body {
  font-family: "Nuosu SIL", serif;
  font-size: 1rem;
  color: #483b24; }

/* EXTEND */
.suscribete-color, .suscribete__main, .suscribete__titulo {
  color: white; }

.h2, .discografia__titulos {
  font-family: "Amatic SC", cursive;
  color: #483b24;
  font-size: 2.5rem; }
