.footer{
    &__general{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: $color-footer;
    background-position: bottom;
    bottom: 0px;
    width: 100%;
    height: 75px;
    text-align: center;
    padding-top: 15px;
    height: 90px;   
    font-display: block;     
        redes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        }
    }
    &__suscribete{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: $color-footer;
        color: $color-contenido;
        background-position: bottom;
        bottom: 0px;
        width: 100%;
        height: 75px;
        text-align: center;
        padding-top: 15px;
        height: 90px;    
        font-display: block;    
            redes{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            }
        }
}
.icono:hover{
    transform: scale(1.3);
}
