$color-fondo:#e7d4ad;
$font-principal: 'Nuosu SIL', serif;
$color-contenido:#483b24;
$font-titulos: 'Amatic SC', cursive;
$color-titulos:#822;
$color-suscribete: white;
$color-header: #822 ;
$color-footer: #D1BA8E;